//
// Gedit
//
window.org-gnome-gedit {
  > paned.titlebar {

    > separator { background-image: image($canvas_deep_purple); }

    headerbar {
      background-color: $canvas_deep_purple;

      button { @extend %header_theme_button; }
    }
  }
}

//
// Gnome Contacts
//
headerbar.titlebar.contacts-left-header-bar,
headerbar.titlebar.contacts-right-header-bar {
  background-color: $canvas_indigo;

  button { @extend %header_theme_button; }
}

//
// Gnome Calender
//
window.org-gnome-Calendar {
  headerbar.titlebar {
    background-color: $canvas_amber;

    button { @extend %header_theme_button; }
  }
}

//
// Gnome Tweak Tool
//
headerbar.titlebar.tweak-titlebar-left,
headerbar.titlebar.tweak-titlebar-right {
  background-color: $canvas_dark_cyan;

  button { @extend %header_theme_button; }
}

headerbar.titlebar.tweak-titlebar-right {
  box-shadow: -1px 0 $canvas_dark_cyan;
}

//
// Gnome Builder
//
window.workbench.org-gnome-Builder {
  headerbar {
    background-color: $canvas_blue;

    button { @extend %header_theme_button; }
  }
}

//
// Gnome-system-monitor
//
window#gnome-system-monitor {
  headerbar.titlebar {
    background-color: $canvas_teal;

    button { @extend %header_theme_button; }

    button.titlebutton {
      &.close, &.maximize, &.minimize { // csd windows control titlebuttons
        color: transparent;

        &:hover { color: $header_fg; }
        &:active { color: rgba($header_fg, 0.5); }
        &:backdrop { opacity: 0.5; }
      }

      &.minimize {
        &, &:hover, &:active { background-color: rgba(black, 0.15); }
      }

      &.maximize {
        &, &:hover, &:active { background-color: rgba(black, 0.25); }
      }

      &.close {
        &, &:hover, &:active { background-color: rgba(black, 0.35); }
      }
    }
  }
}

//
// Gnome-Todo
//
window.org-gnome-Todo {
  headerbar.titlebar {
    background-color: $canvas_deep_orange;

    button { @extend %header_theme_button; }
  }
}

//
// Dconf-editor
//
window.dconf-editor {
  headerbar.titlebar {
    background-color: $canvas_purple;

    button { @extend %header_theme_button; }
  }
}

//
// Gnome-Logs
//
headerbar.titlebar.event_toolbar {
  background-color: $canvas_dark_yellow;

  button { @extend %header_theme_button; }
}

//
// Geary
//
window#GearyMainWindow {
  headerbar {
    background-color: $canvas_green;

    button { @extend %header_theme_button; }

    button.titlebutton {
      &.close, &.maximize, &.minimize { // csd windows control titlebuttons
        color: transparent;

        &:hover { color: $header_fg; }
        &:active { color: rgba($header_fg, 0.5); }
        &:backdrop { opacity: 0.5; }
      }

      &.minimize {
        &, &:hover, &:active { background-color: rgba(black, 0.15); }
      }

      &.maximize {
        &, &:hover, &:active { background-color: rgba(black, 0.25); }
      }

      &.close {
        &, &:hover, &:active { background-color: rgba(black, 0.35); }
      }
    }
  }
}
