
// Some color theme stuff
@mixin color_theme($entry_rules:'true',
                   $button_rules:'true',
                   $theme_color:$selected_bg_color) {
  @if $entry_rules=='true' {
    entry, spinbutton:not(.vertical) {
      &:focus { border-color: $theme_color; }
    }
  }

  @if $button_rules=='true' {
    button:not(.titlebutton):not(.suggested-action):not(.destructive-action) {
      &, popover & {
        &:active, &:checked {
          background-color: $theme_color;
          border-color: $theme_color;
        }
      }
    }

    treeview.view {
      header {
        button {
          &:active {
            background-color: $overlay-active;
            border-color: $borders_color;
            background-clip: border-box;
          }
        }
      }

      button.dnd,
      header.button.dnd {
        background-color: $theme_color;
        border-color: $theme_color;
      }
    }

    infobar button { @extend %selected-button; }
  }
}

//
// Gedit
//
window.org-gnome-gedit {
  > paned.titlebar {
    > separator { background-image: image($canvas_deep_purple); }

    headerbar {
      background-color: $canvas_deep_purple;

      button:not(.titlebutton) { @extend %header_theme_button; }
    }
  }

  @include color_theme($theme_color:$canvas_deep_purple);
}

//
// Gnome Contacts
//
headerbar.titlebar.contacts-left-header-bar,
headerbar.titlebar.contacts-right-header-bar {
  background-color: $canvas_indigo;

  button:not(.titlebutton) { @extend %header_theme_button; }
}

//
// Gnome Control Center
//
window.background.csd {
  > headerbar.titlebar > hdyleaflet {
    > headerbar {
      background-color: $canvas_deep_cyan;
    }

    > separator {
      background-color: $canvas_deep_cyan;
    }

    button:not(.titlebutton) { @extend %header_theme_button; }
  }

  > hdyleaflet > stack.background {
    @include color_theme($theme_color:$canvas_deep_cyan);

    scale {
      highlight {
        background-color: $canvas_deep_cyan;

        &:disabled { background-color: transparentize($canvas_deep_cyan, 0.45); }
      }

      fill {
        background-color: transparentize($canvas_deep_cyan, 0.5);
      }

      slider {
        &:hover {
          background-color: lighten($canvas_deep_cyan, 3%);
          border-color: lighten($canvas_deep_cyan, 3%);
        }

        &:active {
          background-color: darken($canvas_deep_cyan, 3%);
          border-color: darken($canvas_deep_cyan, 3%);
        }
      }
    }
  }

  > hdyleaflet > box.vertical {
    > scrolledwindow.view > viewport.frame {
      > stack, > stack > box.vertical {
        > list > row.activatable {
          &:active, &:selected {
            border-image: radial-gradient(circle closest-corner at center calc(100% - 1px),
                                          transparent 90%,
                                          $canvas_deep_cyan 100%)
                                          0 0 0 2 / 0 0 0 2px;
          }
        }
      }
    }
  }
}

//
// Gnome Tweak Tool
//
window.background.csd {
  > hdyleaflet.titlebar {
    > headerbar.titlebar.tweak-titlebar-left,
    > headerbar.titlebar.tweak-titlebar-right {
      background-color: $canvas_dark_cyan;

      button:not(.titlebutton) { @extend %header_theme_button; }
    }

    headerbar.titlebar.tweak-titlebar-right {
      box-shadow: -1px 0 $canvas_dark_cyan;
    }

    > separator {
      background-color: $canvas_dark_cyan;
    }
  }

  > hdyleaflet > box.vertical {
    > stack.main-container {
      @include color_theme($theme_color:$canvas_dark_cyan);
    }

    > scrolledwindow > viewport.frame {
      > list.tweak-categories {
        > row.activatable.tweak-category {
          &:active, &:selected {
            border-image: radial-gradient(circle closest-corner at center calc(100% - 1px),
                                          transparent 90%,
                                          $canvas_dark_cyan 100%)
                                          0 0 0 2 / 0 0 0 2px;
          }
        }
      }
    }
  }
}

//
// Gnome Calender
//
window.org-gnome-Calendar {
  headerbar.titlebar {
    background-color: $canvas_amber;

    button:not(.titlebutton) { @extend %header_theme_button; }

    entry { @extend %header_theme_entry; }
  }

  @include color_theme($theme_color:$canvas_amber);
}

//
// Gnome Builder
//
window.workbench.org-gnome-Builder {
  headerbar {
    background-color: $canvas_blue;

    button:not(.titlebutton) { @extend %header_theme_button; }
  }
}

//
// Gnome-system-monitor
//
window#gnome-system-monitor {
  headerbar.titlebar {
    background-color: $canvas_teal;

    button:not(.titlebutton) { @extend %header_theme_button; }
  }

  @include color_theme($theme_color:$canvas_teal);
}

//
// Gnome-Todo
//
window.org-gnome-Todo {
  headerbar.titlebar {
    background-color: $canvas_deep_orange;

    button:not(.titlebutton) { @extend %header_theme_button; }
  }

  @include color_theme($theme_color:$canvas_deep_orange);
}

//
// Dconf-editor
//
window.dconf-editor {
  headerbar.titlebar {
    background-color: $canvas_purple;

    button:not(.titlebutton) { @extend %header_theme_button; }
  }

  @include color_theme($theme_color:$canvas_purple);
}

//
// Gnome-Logs
//
headerbar.titlebar.event_toolbar {
  background-color: $canvas_dark_yellow;

  button:not(.titlebutton) { @extend %header_theme_button; }
}

//
// Geary
//
window#GearyMainWindow {
  > .titlebar {
    > headerbar {
      background-color: $canvas_green;

      button:not(.titlebutton) { @extend %header_theme_button; }
    }

    > separator {
      background-image: none;
      background-color: $canvas_green;
    }
  }

  @include color_theme($theme_color:$canvas_green);
}
