$variant: 'dark';

@import '../_sass/colors';
@import '../_sass/variables';
@import '../_sass/gtk/drawing';
@import '../_sass/gtk/common';
@import '../_sass/gtk/apps';
@import '../_sass/gtk/granite';
@import '../_sass/gtk/sidebar_widgets';
@import '../_sass/gtk/tabs_widgets';
@import '../_sass/gtk/colors-public';
