//
// Special Tabs
//
.nautilus-window notebook {

  > header.top {
    margin-top: -1px;
    padding: 0 2px 3px 2px;

    > tabs > tab {
      border: none;

      &:hover {
        background-color: rgba($fg_color, 0.15);
        box-shadow: none;
        border-radius: 0 0 6px 6px;
      }

      &:checked, &:checked:backdrop {
        color: $header_fg;
        background-color: $header_bg;
        box-shadow: none;
        border-radius: 0 0 6px 6px;
      }

      &:checked:backdrop {
        transition: $backdrop_transition;
        color: transparentize($header_fg, 0.3);
        background-color: $header_bg_backdrop;
      }
    }
  }
}

// GNOME Terminal, MATE Terminal
terminal-window,
.mate-terminal {
  notebook {
    padding: 0;

    > header.top {
      padding: 0;
      margin-top: -1px;

      > tabs > tab:first-child {
        border-left: none;
      }

      button {
        padding: 0;
        min-width: 24px;
        min-height: 24px;
      }
    }

    scrollbar { background: none; }
  }
}
